{% extends "base.html" %}
{% block "title" %} &raquo; Logged Out{% endblock %}
{% block "content" %}
			<div id="col-right">
		  <div id="left-about">
		  <p><img src="/media/assets/images/hdr_see_you_soon.jpg" alt="Logged Out" /></p>
		    <p><span class="title-big-ora">You've been successfully logged out</span><br /><br /> <br /> <br />
		    <b style="color:#e95d00;"> > </b><a href="/">Go to the Homepage</a><br /><br />
			<b style="color:#e95d00;"> > </b><a href="/blog/"></>Read our latest Blog post </a> <br /> <br />
			<b style="color:#e95d00;"> > </b><a href="/wholesale/">Login in to my Trade account</a>
	        </p>
		  </div>
	</div>
{% endblock %}