{% extends "base.html" %}
{% block "title" %} &raquo; Wholesale Account Registered{% endblock %}
{% block "content" %}
			<div id="col-right">

			<img src="/media/assets/images/hdr_trade_thanks.jpg" alt="Image" />
<p id="left-about" class="indent">Thanks for registering for a trade account. We will review your registration and send you an email once your account has been approved.
<br /> <br />
EastbourneArt has the right to refuse trade account registrations based on an applicant’s information.</p>
		  </div>
{% endblock %}