{% extends "base.html" %}
{% block "title" %} &raquo; Password Reset{% endblock %}
{% block "content" %}
			<div id="col-right">
			<img src="/media/assets/images/hdr_forgot_password.jpg" alt="Image" />
<form method="post">{% csrf_token %}
		  <div id="left-about">
		    <p><span class="title-big-ora">Reset Password</span></p>
<p>{{message}}</p>
{{form.non_field_errors}}
		    <p>Email address<span class="title-ora">*</span><br />
		      {{form.email}}{{ form.email.errors }}
		    </p>
			<p>
              <input name="resetpassword" type="submit" class="button-post" id="resetpassword" value="Reset My Password" />
			</p>
		    <p>&nbsp; </p>
		  </div>
{% if form.errors %}
<script language="Javascript">
<!--
{% for error in form.errors %}
$('#id_{{error}}').addClass('errorhighlight');
{% endfor %}
// -->
</script>
{% endif %}
</form>
		  </div>
{% endblock %}